[net]
batch=100
subdivisions=1
height=32
width=32
channels=3
momentum=0.9
decay=0.0005
max_crop=32

learning_rate=0.01
policy=poly
power=4
max_batches=50000

angle=0
hue=0
saturation=0
exposure=0
aspect=0

# Block 1
[convolutional]
filters=64
size=3
stride=1
pad=1
activation=relu

[convolutional]
filters=64
size=3
stride=1
pad=1
activation=relu

[maxpool]
size=2
stride=2

# Block 2
[convolutional]
filters=128
size=3
stride=1
pad=1
activation=relu

[convolutional]
filters=128
size=3
stride=1
pad=1
activation=relu

[maxpool]
size=2
stride=2

# Block 3
[convolutional]
filters=256
size=3
stride=1
pad=1
activation=relu

[convolutional]
filters=256
size=3
stride=1
pad=1
activation=relu

[maxpool]
size=2
stride=2

# Fully Connected Layers
[connected]
output=512
activation=relu

[dropout]
probability=0.5

[connected]
output=512
activation=relu

[dropout]
probability=0.5

[connected]
output=10
activation=linear

[softmax]
groups=1

[cost]
type=sse
